@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    margin: 20px 0;
}

p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 60px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
}

#whole {
    width: 100%;
    height: 100vh;
}

#flexbox {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch {
    position: absolute;
    top: 40px; 
    right: 80px;
    
}
.btn5{
    position: relative;
    width: 100px;
	height: 50px;
	border-radius: 3px;
    border: none;
    
	color: #fff;
	background: linear-gradient(#0F2027,#203A43,#2C5364);
	font: 400 15px sans-serif;
    box-shadow:
    0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
    transition:  0.5s all ease-in-out;
    cursor: pointer;
}

.btn5:hover{
    transform: scale(1.2);
    
}

.card__container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.card {
    width: 270px;
    padding: 15px;
}

.left-card {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.middle-card {
    background-color: hsl(184, 100%, 22%);
}

.right-card {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content {
    padding: 10px;
}

.btn {
    margin: 20px 0;
    padding: 15px 40px;
    border: 0;
    border-radius: 30px;
    outline: none;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Lexend Deca', sans-serif;
}

.btn:hover {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    transition: 0.5s;
}

.btn1 {
    color: hsl(31, 77%, 52%);
}

.btn2 {
    color: hsl(184, 100%, 22%);
}

.btn3 {
    color: hsl(179, 100%, 13%);
}

/* CSS GRID LAYOUT */

#grid {
    background: #1a1c28;
}

.container {
    display: grid;
    height: 500px;
    width: 700px;  
    max-width: 100%;
    justify-content: center;
    margin: auto;  
    margin-top:100px;
    border-radius: 15px ; 
    grid-template-columns: 1fr 0.4fr 0.7fr;
    grid-template-rows: 0.4fr 0.25fr 0.3fr;
    grid-template-areas: 
    "one one two"
    "three four four"
    "three five five";
    grid-gap:0.6rem;
    
}

.item-1 {
    background-color: #eb5020;
    grid-area: one;
}

.item-2 {
    background-color: #ffa401;
    grid-area: two;
}

.item-3 {
    background-color: #05aa42;
    grid-area: three;
}

.item-4 {
    background-color: #01aefd;
    grid-area: four;
}

.item-5 {
    background-color: #01aefd;
    grid-area: five;
}

@media screen and (max-width:576px) {
    .container {
        grid-template-columns: 0.8fr;
        grid-template-rows: 3fr 2.2fr 2.2fr 1.5fr 1.5fr;
        grid-template-areas: 
        "one"
        "two"
        "three"
        "four"
        "five";
    }
}
